.rating-container {
    display: flex;
    margin-bottom: 1rem;
}

.star {
    font-size: 1.5rem;
    cursor: pointer;
    color: #ddd;

    &.filled {
        color: #ffc107;
    }

    &:not(:last-child) {
        margin-right: 0.5rem;
    }
}